/*-----------------------

TABLE OF CONTENTS:

1. HEADER
2. NAV
3. CONTENT
4. FOOTER
5. MOBILE

------------------------*/
body {
  font-family: "Play", sans-serif;
}

h1, h2, h3, li, label, p:first-letter {
  text-transform: capitalize;
}

header {
  padding: 60px;
  display: flex;
  align-items: center;
}
header h1 {
  font-size: 70px;
  margin: 0 auto;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 5px red;
}

nav {
  display: flex;
  text-transform: capitalize;
}
nav .title {
  display: flex;
}
nav p {
  margin-left: 10px;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
nav ul {
  margin-left: auto;
}
nav ul li {
  display: inline-block;
  margin-left: -4px;
}
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  font-size: 15px;
  color: red;
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: yellow;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

.content {
  margin: 50px;
  color: yellow;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid yellow;
  padding: 50px;
}
.content h2 {
  text-decoration: underline;
  font-size: 25px;
  margin-bottom: 20px;
}
.content .gal {
  text-align: center;
  font-size: 40px;
}
.content p {
  margin-bottom: 20px;
}
.content .char {
  font-size: 20px;
}

.gallery {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.gallery tr td {
  padding: 20px;
}
.gallery img {
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-ment {
  margin-bottom: 20px;
  border: 5px solid yellow;
  padding: 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: yellow;
}
.c-ment button {
  padding: 5px;
  width: 90px;
  font-size: 15px;
  text-transform: capitalize;
}

.comment {
  margin-bottom: 20px;
  border: 5px solid yellow;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: yellow;
}
.comment h4 {
  font-size: 20px;
}

.e-mail {
  border: 5px solid yellow;
  padding: 20px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: yellow;
}
.e-mail button {
  padding: 5px;
  width: 90px;
  font-size: 15px;
}

ol {
  margin-bottom: 20px;
}

.f-img {
  margin-bottom: 20px;
}

.audio {
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
}
.audio audio {
  margin: 0 auto;
}

video {
  display: flex;
  margin: 0 auto;
}

.LRhand {
  width: 290px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
}
.LRhand p {
  text-align: center;
}
.LRhand #Inq {
  height: 344px;
  width: 288px;
}

.LRbtns {
  margin-bottom: 20px;
}

#right {
  float: right;
}

.intro {
  padding: 10px;
}

section {
  display: flex;
}

footer {
  text-transform: capitalize;
  display: flex;
}
footer .contact {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
}
footer .contact a {
  text-decoration: none;
  color: yellow;
  font-size: 20px;
}
footer .info {
  margin-left: auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  color: yellow;
}

@media screen and (max-width: 640px) {
  header img {
    display: none;
  }
  header h1 {
    font-size: 50px;
  }
  nav {
    display: none;
  }
  .gallery tr {
    width: 200px;
  }
}
@media (min-width: 854px) {
  .mobilenav {
    display: none;
  }
}
@media (min-width: 810px) {
  .mobilenav {
    display: none;
  }
}
@media (min-width: 800px) {
  .mobilenav {
    display: none;
  }
}
@media (min-width: 1280px) {
  .mobilenav {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */