@import "_var";

/*-----------------------

TABLE OF CONTENTS:

1. HEADER
2. NAV
3. CONTENT
4. FOOTER
5. MOBILE

------------------------*/

body {
    font-family: 'Play', sans-serif;
}

h1, h2, h3, li, label, p:first-letter {
    text-transform: capitalize;
}

// HEADER-----------

header {
    padding: 60px;
    display: flex;
    align-items: center;

    h1 {
        font-size: 70px;
        margin: 0 auto;
        text-align: center;
        color: white;
        text-shadow: 5px 5px 5px red;    
}

}

// NAV--------------

nav {

    display: flex;
    text-transform: capitalize;

    .title {
        display: flex;
    }

    p {
        margin-left: 10px;
        font-size: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }

    ul {

        margin-left: auto;

        li {
            display: inline-block;
            border-left: 1px solid black;

            // display: inline-block adds 4px to the left of each link by default. 
            // Add -4px get rid of the space.
            margin-left: -4px;

            a {
                display: block;
                text-decoration: none;
                padding: 15px;
                font-size: 15px;
                color: red;
            }

            a:hover {
                background-color: rgba(black, 70%);
                color: yellow;
            }
        }
    }
}

//  CONTENT--------------

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background-color: rgba(white, 40%);
}

.content {

    margin: 50px;
    color: yellow;
    font-weight: bolder;
    background-color: rgba(black, 70%);
    border: 2px solid yellow;
    padding: 50px;

    h2 {
        text-decoration: underline;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .gal {
        text-align: center;
        font-size: 40px;
    }

    p {
        margin-bottom: 20px;
    }

    .char {
        font-size: 20px;
    }
}

.gallery {

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    tr {
        td {
            padding: 20px;
        }
    }

    img {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }
}

.c-ment {
    margin-bottom: 20px;
    border: 5px solid yellow;
    padding: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(black, 70%);
    color: yellow;

    button {
        padding: 5px;
        width: 90px;
        font-size: 15px;
        text-transform: capitalize;
    }
}

.comment {
    margin-bottom: 20px;
    border: 5px solid yellow;
    padding: 10px;
    background-color: rgba(black, 70%);
    color: yellow;

    h4 {
        font-size: 20px;
    }
}

.e-mail {
    border: 5px solid yellow;
    padding: 20px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(black, 70%);
    color: yellow;

    button {
        padding: 5px;
        width: 90px;
        font-size: 15px;
    }
}

ol {
    margin-bottom: 20px;
}

.f-img {
    margin-bottom: 20px;
}


// FOOTER--------------

footer {
    text-transform: capitalize;
    display: flex;

    .contact {
        padding: 40px;
        background-color: rgba(black, 70%);
               

        a {
            text-decoration: none;
            color: yellow;
            font-size: 20px;
        }
    }

    .info {
      margin-left: auto;
      padding: 40px;
      background-color: rgba(black, 70%);
      color: yellow;
    }
}

// MOBILE--------------

@media screen and (max-width: 640px) {

    header {
        img {
            display: none;
        }

    h1 {
        font-size: 50px;
    }

    }

    nav {
        display: none;
    }

    .gallery {
        tr {
            width: 200px;
        }
    }
}

@media (min-width:854px) { 
    .mobilenav {
        display: none;
    }
}

@media (min-width:810px) { 
    .mobilenav {
        display: none;
    }
}

@media (min-width:800px) { 
    .mobilenav {
        display: none;
    }
}

// Target desktop (non-mobile) devices----------

@media (min-width:1280px) { 
    .mobilenav {
        display: none;
    }
}

// -------------------------------

/* Mobile Menu -----------*/

.mobilenav {
    max-width: 480px;
    color: white;
    border-radius: 10px;
}

.topnav {
    overflow: hidden;
    position: relative;
    border: 2px solid black;

    a {
        padding: 15px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav {
        display: none;
    }
  }

  /* End Mobile Menu -----------*/